.cardsContainer {
  max-width: 1440px;
  margin: 2rem auto;
  padding: 0 20px;
  min-height: 65vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2rem;

  list-style: none;
  justify-items: center;
}

@media (max-width: 600px) {
  .cardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 1.5rem;
    padding: 0 10px;
  }
}
