/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[5].use[3]!./src/page-components/AboutPage.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.AboutPage_container__zlr44 {
  padding: 2rem;
  text-align: center;
}

.AboutPage_link__lHzIh {
  color: #007bff;
  font-weight: 700;
}

